*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   font-family: "Poppins", sans-serif;
}
/* common-styles */
.container{
    max-width: 1414px;
    margin: 50px auto;
   
}

img{
    max-width: 100%;
}

.btn{
height:56px ;
width: 187px;
border-radius: 5px;
background-color: #DD0000;
border: none;
color: white;
font-size: 20px;
cursor: pointer;
}

/* custom-style */
.hero-section{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
    margin:0 auto;
    margin-top: 50px;
    gap: 82px;
    padding-left: 125px;
}
.banner-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 570px;
    flex: 1;
}
.banner-left h1{
    font-size: 4rem;
    font-weight: bold;
    line-height: 4rem;
}

.banner-right{
    max-width: 621px;
    flex: 1;
}
.banner-right img{
    width: 100%;
    display: block;
}


/* card-style */
.card-section-parent{
    display: flex;
    gap:55px ;
    justify-content: center;
    justify-items: center;
  
}
.upcoming-match{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
    background-color: black;
    width: 312px;
    border-radius: 10px;
   
}
.upcoming-match>:nth-child(1),
.upcoming-match>:nth-child(2){
    background-color: white;
    color: black;
}


.card-section-parent{
    display: flex;
}
.card-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
   justify-content: space-between;
   gap:55px ;
}

.card-parent img{
     border-radius: 5px 5px 0 0;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 362px;
    width: 312px;
    border-radius: 10px;
    box-shadow: 0px 2px 0px 2px whitesmoke;
}

.card h3{
   padding-left: 20px;
}
.card button{
    height: 32px;
    width: 100px;
    border-radius: 5px;
    margin-left: 20px;
    padding: 4px 16px;
    cursor: pointer;
}
.icon{
    display: flex;
    gap: 40px;
    padding-left: 20px;
   
}

.icon span{
    font-weight: 400;
     font-size:16px;
    color: #rgba(22, 22, 22, 0.8);
}

/* footer-style */
footer{
    max-height: 444px;
    max-width: 1726px;
    background-color: black;
}

.footer-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   gap: 50px;
}


.footer-parent h1{
    width: 90%;
    text-align: center;
    color: white;
    font-size: 1.8rem;
    font-size: 600;
     margin-top: 130px;
     padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
    margin-bottom: 100px;
}
.footer-nav ul a{
    text-decoration: none;
    color: white;
}


/* mobile-device */
@media screen and (max-width:567px) {
.container{
    max-width: 100%;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
}
 .hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
     padding: 20px;
     border-radius: 10px;
       margin: 10%;
    margin-right: 10%;
    
 }   
.banner-left h1{
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
}

img{
    width: 100%;
    height: 100%;
}


/* card-style */
.card-section-parent{
    display: flex;
    flex-direction: column;
    gap:55px ;
    justify-content: center;
    justify-items: center;
  
}
.upcoming-match{
margin: 0 auto;
background-color: white;
max-width: 100%;
}

.upcoming-match button{
    border-radius: 10px;
    border: 1px solid #E8E8E8;
}
.upcoming-match > button:nth-child(1){
    padding: 10px;
    width: 210px;
}
.card-section-parent{
    width: 100%;
    margin: 0 auto;
}

.card-parent{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card{
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
   
}

/* footer */
.footer-parent{
    max-width: 100%;
    margin: 0 auto;
}
.footer-parent h1{
    padding-bottom: 20px;
    width: 80%;
    text-align: center;
    color: white;
    font-size: 1.8rem;
    font-size: 600;
     margin-top: 30px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-nav ul{
    display: flex;
   flex-direction: column;
    list-style: none;
    gap: 5px;
  justify-content: center;
  align-items: center;
 margin-bottom: 15px;

}



}



/* tab */
@media screen and (min-width:568px) and (max-width:992px){
.container{
    max-width: 100%;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
}
 .hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
     padding: 20px;
     border-radius: 10px;
       margin: 10%;
    margin-right: 10%;
    
 }   
.banner-left h1{
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
}

img{
    width: 100%;
    height: 100%;
}


/* card-style */
.card-section-parent{
    display: flex;
    flex-direction: column;
    gap:55px ;
    justify-content: center;
    justify-items: center;
  
}
.upcoming-match{
margin: 0 auto;
background-color: white;
max-width: 100%;
}

.upcoming-match button{
    border-radius: 10px;
    border: 1px solid #E8E8E8;
}
.upcoming-match > button:nth-child(1){
    padding: 10px;
    width: 210px;
}
.card-section-parent{
    width: 100%;
    margin: 0 auto;
}

.card-parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}
.card{
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
   
}

/* footer */
.footer-parent{
    max-width: 100%;
    margin: 0 auto;
}
.footer-parent h1{
    padding-bottom: 20px;
    width: 80%;
    text-align: center;
    color: white;
    font-size: 1.8rem;
    font-size: 600;
     margin-top: 30px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-nav ul{
    display: flex;
   flex-direction:flex;
   flex-wrap: wrap;
    list-style: none;
    gap: 5px;
  justify-content: center;
  align-items: center;
 margin-bottom: 15px;

}



}